body { font-family:Verdana, Geneva, sans-serif; width:auto; background:	#2BBBD8; }

.wrapper { width:800px; text-align:center; margin: 157px auto 0px auto;padding:10px; background:#fff;}

#mc_embed_signup {
    
    padding: 0px 40px!important;
    background:#fff!important;
    }